<h1>Listing vehicles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Manufacturer</th>
      <th>Year</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.name %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.manufacturer %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.customer.name %></td>
        <td><%= link_to 'Show', customer_vehicle_path(vehicle, :customer_id => vehicle.customer_id) %></td>
        <td><%= link_to 'Edit', edit_customer_vehicle_path(vehicle, :customer_id => vehicle.customer_id) %></td>
        <td><%= link_to 'Destroy', customer_vehicle_path(vehicle, :customer_id => vehicle.customer_id), :method =>:delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_customer_vehicle_path(@customer) %>
