<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @vehicle.manufacturer %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @vehicle.customer.name %>
</p>

<%= link_to 'Back', customer_vehicles_path %>
<%= link_to 'Edit', edit_customer_vehicle_path(@vehicle, :customer_id => @vehicle.customer_id) %>
